src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="f0418bdc-883c-400c-8696-8a8b26e6bfae" >
		<http:listener doc:name="GET /flights" doc:id="f4d6e621-0b87-42dc-a637-9ed033c2616c" config-ref="HTTP_Listener_config" path="/flights" >
			<http:error-response>
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="6f4ba1b2-b604-4583-9deb-d2b594bb0f3b" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="3245aca0-b8ab-4a82-8ec0-c100a82ae2f9" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="ac0ea516-669b-4350-9c31-d9cb3a65ef45" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]"/>
		<choice doc:name="Choice" doc:id="0b3e4162-65a6-4ef6-a5c1-33e332661b1d" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="1756eef7-8822-484d-8d41-fabda38fcea4" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="fc587e89-9841-4023-9ed3-012d7bf858fb" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="25c7e9b4-c618-4fac-8d85-9260bf110725" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="d36c56cd-a5a6-41af-8296-e4e224aad4dc" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="aa0bd454-27fe-4459-a340-cc21f838afd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="91376d41-8ab7-47a4-8f24-bb5c0fcc7edc" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="cf40ba12-b037-4680-993a-b6f8104a16a8" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="f3a78bcf-381e-4a5d-b127-7be3e386bbc3" >
			<route >
				<flow-ref doc:name="getAmericanFlights" doc:id="08995566-dea1-4049-b82f-9e4ddbdb003d" name="getAmericanFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getUnitedFlights" doc:id="8c423386-75a0-405b-b5b7-a93a11b9ae0a" name="getUnitedFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getDeltaFlights" doc:id="7b616889-45d4-4a5b-b43e-1e57d10b8011" name="getDeltaFlights"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Flatten to Flight" doc:id="7737a14a-0e80-47ac-a671-47227414b2f9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="bb2548e9-7881-490a-9c34-91fe6222a2f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7af4c04a-77e6-4244-8fe7-736d62e9e7fd" />
	</flow>
	<flow name="getAmericanFlights" doc:id="3e1c3808-ca2b-40fc-b9a0-0f0bb64e5066" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="19fddfd2-5fe0-429f-b024-84698cfef2e9" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="e522273d-76eb-42bd-b8a7-44276b2be15f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e01d3160-11ee-4927-9096-420c1ff250e9" />
	</flow>
	<sub-flow name="setCode" doc:id="4f1b2bff-7fdd-41e3-9e71-06909009c3fb" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="a9538081-cc3f-4d39-9a54-8c55356da0c5" variableName="code"/>
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="3a9184b4-b505-4534-b3cf-42d6ba6723c3" >
		<http:request method="GET" doc:name="Get flights" doc:id="0a5a8792-9d86-4836-b74d-7fc142476c6a" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="53c3cdea-4938-4754-97a2-b2d84a7a0939" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f22cb4ad-ef0a-43f8-9417-afd1af81ddca" />
	</flow>
	<flow name="getDeltaFlights" doc:id="5ac139ef-9f0e-4215-91ed-9bd950250cdc" >
		<flow-ref doc:name="setCode" doc:id="a24ec839-bfca-4cfa-9797-3737c7f316b3" name="setCode"/>
		<ee:transform doc:name="PassCode" doc:id="fe2ff329-5b6f-4803-acd6-0b736885ed00">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="a659cf65-e39f-46a8-8566-2217c2934beb" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight" />
		<ee:transform doc:name="SOAP  to Flight" doc:id="bf1161e7-b339-4076-821e-86db2db75ae9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#listAllFlightsResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="392ea5ba-d165-468b-a270-86941e995555" />
	</flow>
</mule>
